/* 
    Created on : 1-mag-2017, 14.22.22
    Author     : enrico.verde
*/
button{
	background-color: green;
	border-radius: 25px;
    color: black;
    display: inline-block;
    font-size: 35px;
    margin: 3px 2px;
    width: 65px;
    height: 65px;
}
#uguale{
    background-color: green;
}
#piu, #meno, #per, #diviso{
    color:black;
}
#nega{
    color:black   ;
}
textarea{
    margin: 3px 2px;
    font-size: 40px;
    width: 278px;
    height: 60px;
    text-align: right;
    resize: none;
}
h2{
    font-size: 35px;
    position:relative;
    left: 10px;
}

